<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />

<title>购物流程</title>

<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" href="animated_favicon.gif" type="image/gif" />
<link href="__PUBLIC__/style/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
 <include file="Common/head" />
<div class="block box">
<div class="blank"></div>
 <div id="ur_here">
当前位置: <a href=".">首页</a> <code>&gt;</code> 下单成功
</div>
</div>
<div class="blank"></div>

<div class="block table">


<div class="flowBox">
    <h6><span style="font-size:40px;margin-top:15px">下单成功！</span></h6>
</div>

 <include file="Common/footer" />

<div class="blank" style="height:80px"></div>
</html>
