<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Keywords" content="">
<meta name="Description" content="">

<title>登录</title>

<link rel="shortcut icon" href="mbmeilishuo/favicon.ico">
<link href="__PUBLIC__/style/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<link href="__PUBLIC__/style/qq.htm" rel="stylesheet" type="text/css">

<script type="text/javascript">
var process_request = "正在处理您的请求...";
</script>
<script type="text/javascript">
function SetHome(obj,url){
    try{
        obj.style.behavior='url(#default#homepage)';
       obj.setHomePage(url);
   }catch(e){
       if(window.netscape){
          try{
              netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
         }catch(e){
              alert("抱歉，此操作被浏览器拒绝！\n\n请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为'true'");
          }
       }else{
        alert("抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将【"+url+"】设置为首页。");
       }
  }
}

function AddFavorite(title, url) {
  try {
      window.external.addFavorite(url, title);
  }
catch (e) {
     try {
       window.sidebar.addPanel(title, url, "");
    }
     catch (e) {
         alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
     }
  }
}
</script>
<include file="Common/head" />
<div class="block block1">
  <div class="block box">
<div class="blank"></div>
 <div id="ur_here">
当前位置: <a href="http://127.0.0.1/shop/index.php/home/index/index">首页</a> <code>&gt;</code> 用户中心
</div>
</div>
<div class="blank"></div>

<div class="usBox clearfix">
  <div class="usBox_1 f_l">
    <div class="login_tab">
    <ul>
        <li class="active"><a href="http://127.0.0.1/shop/index.php/Home/User/login.html">用户登录</a></li>
        <li><a href="http://127.0.0.1/shop/index.php/Home/User/reg.html">用户注册</a></li>
    </ul>
    </div>
   <form name="formLogin" action="" method="post" >
        <table align="left" border="0" cellpadding="3" cellspacing="5" width="100%">
          <tbody><tr>
            <td align="right" width="25%">用户名</td>
            <td width="65%"><input name="username" size="25" class="inputBg" type="text"></td>
          </tr>
          <tr>
            <td align="right">密码</td>
            <td>
            <input name="password" size="15" class="inputBg" type="password">            </td>
          </tr>
                    <tr>
            <td align="right">验证码</td>
            <td><input size="8" name="captcha" class="inputBg" type="text">
            <img src="__CONTROLLER__/verify" height="30" alt="captcha" style="vertical-align: middle;cursor: pointer;" onclick="this.src='__CONTROLLER__/verify?'+Math.random()"> </td>
          </tr>
                    <tr>
            <td> </td>
            <td><input value="1" name="remember" id="remember" type="checkbox"><label for="remember">请保存我这次的登录信息。</label></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left">
            <input name="submit" value="" class="us_Submit" type="submit">            </td>
          </tr>
      </tbody></table>
    </form>
    <div class="blank"></div>
  </div>

</div>

</div>
<div class="blank"></div>
<include file="Common/footer" />
<div class="blank"></div>
</body></html>
